.body{
  color: cadetblue;
}
.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: grey;
}

.sub-main{
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 30px;
  border-radius: 60px;
  background-color: white;
}
.cnt-img{
  background-color: rgb(223, 221, 221);
  border-radius: 150px;
  align-self: center;
  display: flex;
  height: 150px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
input{
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;

}

.name{
  padding-left: 70px;
  font-size: 20px;
}
.second{
  padding-top: 20px;
}
.button-1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 60px;
  margin-top: 20px;
}

